<html>
<head>
  <title>Friendships</title>
  <link rel="stylesheet" href="/main.css" type="text/css" />

</head>
<body>
  <nav>
    <ul>
      <li> <a href="/">Home</a> </li>
    </ul>
  </nav>
  <h1>Friendships</h1>
</html>
